<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>MVC App</title>
	<script
		id="sap-ui-bootstrap"
		src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
		data-sap-ui-libs="sap.m"
		data-sap-ui-theme="sap_bluecrystal"
		data-sap-ui-preload="async"
		data-sap-ui-compatVersion="edge"
		data-sap-ui-xx-bindingSyntax="complex"
		data-sap-ui-resourceroots='{
			"viewapp": "./webapp/"}'>
	</script>
	<script>
		sap.ui.getCore().attachInit(function () {
			
			var oPage = sap.ui.view("page", {
				type: sap.ui.core.mvc.ViewType.XML,
				viewName: "viewapp.view.View"
			});
			
			var oApp = new sap.m.App();
			oApp.addPage(oPage);
			oApp.placeAt("content");
		});
	</script>
</head>
<body class="sapUiBody" role='application'>
	<div id='content'></div>
</body>
</html>